/* Google fonts import - Lato (all) & Oswald (300) */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project Styles */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;  
}                                       /* Note: second font is a fallback in case the first one fails to load */


/* Header */
header {
    background-color: white;
    padding: 0 1rem; /* padding left and right to prevent our text from sticking to the side of the screen. */
    position: fixed;
    z-index: 99; /* 99 to make sure it's layered on top of any other elements */
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a; /* small shadow at the bottom here, so let's set that to 2px. third value set blur - how soft / hard it looks */

}

header a {
    text-decoration: none;
    color: inherit; /* Inherit the color from the parent element, which is the header in this case. This ensures that the link will have the same color as the header text. */
}

h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; 
    letter-spacing: 2px; /* adds space between letters */
    color: #252525;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;   /* removes the default bullet points from the list */
}

#menu > li {
    margin-bottom: 1em;
}

 .active {
    border-bottom: 1px solid #3a3a3a; /* adds a border to the bottom of the active menu item */;
 }

 /* Navbar styles with dropdowm toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;    
    left: 0;
    padding: 0 1rem; 
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* Hide the dropdown menu by default */
}                               


/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange;
}